<h4>Formulario with Angular Material</h4>

<form action="" #matrix="ngForm">

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <br>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your last name" [formControl]="lastName" required>
      <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <br>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

</form>