@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.main-container{

    margin-top: 50px
    
}

  
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  