<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre"
          minlength="3" required #nombre="ngModel">

        <div *ngIf="nombre.errors?.required">
          Este campo es requerido.
        </div>

        <div *ngIf="nombre.errors?.minlength">
          Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres.
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido"
          required #apellido="ngModel">

        <div *ngIf="apellido.errors?.required">
          Este campo es requerido.
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control" type="email" placeholder="Correo electrónico" name="correo" [(ngModel)]="usuario.correo"
        required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #correo="ngModel">

      <div *ngIf="correo.errors?.required">
        Este campo es requerido.
      </div>
      <div *ngIf="correo.errors?.pattern">
        El campo no tiene un formato de correo electrónico.
      </div>

    </div>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select [(ngModel)]="usuario.pais" class="form-control" name="pais">
        <option value="">Seleccione un pais</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.nombre}}</option>
      </select>
    </div>
  </div>

  <br>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">

      <!-- <div class="custom-control custom-radio custom-control-inline">
                <input [(ngModel)]="usuario.sexo" 
                       name="sexo" 
                       type="radio" 
                       id="sexo" 
                       name="sexo" 
                       class="custom-control-input"
                       [value]="s">
                <label *ngFor="let s of sexos" class="custom-control-label" for="sexo">{{ s }}<br></label>
              </div> -->

      <mat-radio-group [(ngModel)]="usuario.sexo" name="sexo">
        <mat-radio-button *ngFor="let s of sexos" [value]="s">{{ s }} <br></mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8">

      <div class="custom-control custom-checkbox">
        <input [(ngModel)]="usuario.acepta" name="acepta" required type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Acepta las condiciones</label>
      </div>

    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{ usuario | json }}
</pre>




<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input" required>
  </mat-form-field>

</div> -->